__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyt


venv/
ENV/
env/
.venv/
*.env

db.sqlite3

media/

.env
*.secret

*.log

.idea/

.DS_Store
Thumbs.db

.pytest_cache/

htmlcov/
.coverage

schema.yml

*.lock

*.postman_collection.json
